@model Ngo.Models.Campaign

@{
    ViewData["Title"] = "Create";
}

<h1>New Campaign</h1>

<h4></h4>
<hr />
<div style="background-image:url('https://cdn-fbged.nitrocdn.com/MfDhNPAJXJCJzhNpCzzAzqrKWruRMjdr/assets/static/optimized/wp-content/uploads/2022/04/1a2f97944827b88b66657ce94d756532.Magnarevo-Blog-ngo.jpg')">
<div class="border container border-danger" style="padding:30px">

<div class="row" >
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CampaignName" class="control-label"></label>
                <input asp-for="CampaignName" class="form-control" />
                <span asp-validation-for="CampaignName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discription" class="control-label"></label>
                <input asp-for="Discription" class="form-control" />
                <span asp-validation-for="Discription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
</div>
</div>
<div>
    <a class="button btn-sm btn-warning" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
