@model Ngo.Models.Campaign

@using Ngo.Models.Enums
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> _userManager

@{
    ViewData["Title"] = "Index";
    var user = await _userManager.GetUserAsync(this.User);
    var isAdmin = await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.NgoAdmin.ToString());
}
<h1>Details</h1>
<div>
    
    <!-- Features Start -->
    <div class="container-fluid" style="background-color:darksalmon">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mt-5 py-5 pr-lg-5">
                    <h6 class="text-danger font-weight-normal text-uppercase mb-3">Event is about</h6>
                    <h1 class="mb-4 section-title"> @Html.DisplayFor(model => model.CampaignName)</h1>
                    <p class="mb-4">@Html.DisplayFor(model => model.Discription)</p>
                    
                </div>
                <div class="col-lg-5">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100 overflow-hidden">
                        <img class="h-100" src=" @Html.DisplayFor(model => model.ImageUrl)" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->
</div>
<div>
    @if (isAdmin)
    {
        <a asp-action="Edit" asp-route-id="@Model.CamaignId">Edit</a>
    }
    <a class="btn btn-warning" asp-action="Index">Back to List</a>
</div>
