@model Ngo.Models.NgoEvent

@{
    ViewData["Title"] = "Create";
}

<h1>Add New</h1>

<h3>Ngo Event</h3>
<hr />
<div style="background-image:url('http://www.kamilgrzybek.com/wp-content/uploads/2019/06/events_bricks-825x510.jpg')">
<div class="border container border-danger" style="padding:30px">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventName" class="control-label"></label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discription" class="control-label"></label>
                <input asp-for="Discription" class="form-control" />
                <span asp-validation-for="Discription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                @*<input asp-for="StartDate" id="StartDate" class="form-control" />*@
               @* <input type="text" id="StartDate" size="40" maxlength="10">*@
                <input type="text" asp-for="StartDate" class="form-control  />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                @*<input asp-for="EndDate"  class="form-control" />*@
                <input type="text" asp-for="EndDate" class="form-control />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Event" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="button btn-sm btn-danger" asp-action="Index">Back to List</a>
</div>
</div>
</div>
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
    </script>
    <script>
        $(document).ready(function () {

            $(function () {
                $("#StartDate").datepicker({
                    minDate: 0
                });
            });
            $(function () {
                $("#EndDate").datepicker({
                    minDate: 0
                });
            });

        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
