@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<body>
    <!-- Carousel Start -->
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active carousel-fluid">
                    <img class="w-200" height:"100"; src="~/img//ngo3.jpg" alt="Image">
                    
                </div>
                <div class="carousel-item">
                    <img class="w-200" src="img/ngo2.jpg" alt="Image">
                    
                </div>
            </div>
            <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                <div class="btn btn-primary" style="width: 45px; height: 45px;">
                    <span class="carousel-control-prev-icon mb-n2"></span>
                </div>
            </a>
            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                <div class="btn btn-primary" style="width: 45px; height: 45px;">
                    <span class="carousel-control-next-icon mb-n2"></span>
                </div>
            </a>
        </div>
    </div>
    <!-- Carousel End -->
    <br />
    <!--Team start-->
    <div class="text-center"> <h2>Our Mentors</h2></div>
   
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="~/img/mentor2.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Shubhra Mehrotra</h4>
                        <div>
                        <p class="card-text">Shubhra is a senior Pharmaceutical executive with over 23 years of experience in Business Development, Licensing, Strategic Planning, Portfolio Acquisition & divestments and Alliance Management</p> 
                   </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="~/img/mentor1.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Shailesh Dhuri</h4>
                        <p class="card-text">Shailesh is an accomplished, versatile, technology-savvy, and result-driven professional with more than 25 years of experience in Entrepreneurship and Fund Management.</p>                       
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="~/img/mentor3.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Aashu Calapa</h4>
                        <p class="card-text">
                            Aashu grew up in Mysore and completed his BA from Mysore University. He went on to do his Masters in Personnel Management Industrial Relations from Tata Instituteof Social Sciences, Mumbai.
                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="~/img/mentor4.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Narayan Devanathan</h4>
                        <p class="card-text">
                            He is currently working as CEO of dentsu Solutions, India; President of dentsuIndia (Strategy & Integration) and Head of Strategy & Consulting of dentsuCreative, APAC   </p>

                    </div>
                </div>
            </div>
            
    </div>
    </div>
    <br />
    <!-- Team End -->
    
    <!-- About Start -->
<div class="container-fluid bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="d-flex flex-column align-items-center justify-content-center bg-success h-100 py-5 px-3">
                    <h4 class="display-3 mb-3">Smile</h4>
                    <h1 class="m-0">Foundation</h1>
                </div>
            </div>
            <div class="col-lg-9 m-0 my-lg-5 pt-5 pb-5 pb-lg-2 pl-lg-5">
                <h6 class="text-primary font-weight-normal text-uppercase mb-3">Learn About Us</h6>
                    <h1 class="mb-4 section-title">Sustainability, social equality and the environment are now business problems. And corporate leaders can't depend on governments to solve them..</h1>
                    <p>Inspired by Senge's philosophy, a group of young corporate professionals came together in 2002 to set up Smile Foundation to work with grassroots initiatives for effecting positive changes in the lives of underprivileged children, their families and communities</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<br />
<br />
<div>

</div>
 
    <!-- Team End -->
    <div class="container-fluid bg-dark text-white py-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-primary mb-4">Get In Touch</h4>
                <p><i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-primary mb-4">Quick Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" asp-area="" asp-page="/Index"><i class="fa fa-angle-right mr-2"></i>Home</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                    <a class="text-white mb-2" asp-area="Events" asp-controller="DonationIs" asp-action="Create1"><i class="fa fa-angle-right mr-2"></i>Donate</a>
                    <a class="text-white mb-2" asp-area="Events" asp-controller="CampaignCategories" asp-action="Index">
                        <i class="fa fa-angle-right mr-2"></i> Campaigns
                    </a>
                    <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-primary mb-4">Popular Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" asp-area="" asp-page="/Index"><i class="fa fa-angle-right mr-2"></i>Home</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                    <a class="text-white mb-2" asp-area="Events" asp-controller="CampaignCategories" asp-action="Index"><i class="fa fa-angle-right mr-2"></i>Upcoming Events</a>
                    <a class="text-white mb-2" asp-area="Events" asp-controller="CampaignCategories" asp-action="Index"><i class="fa fa-angle-right mr-2"></i>Campaigns</a>
                    <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-primary mb-4">Newsletter</h4>
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control border-0" placeholder="Your Name" required="required" />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control border-0" placeholder="Your Email" required="required" />
                    </div>
                    <div>
                        <button class="btn btn-lg btn-primary btn-block border-0" type="submit">Submit Now</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container border-top border-secondary pt-5">
            <p class="m-0 text-center text-white">
                &copy; <a class="text-white font-weight-bold" href="#">Your Site Name</a>. All Rights Reserved. Designed by
                <a class="text-white font-weight-bold" href="https://htmlcodex.com">HTML Codex</a>
            </p>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
   @* <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>*@


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>